<section class="cta" id="cta">
  <div class="container">
    <div class="cta__inner">
      <div class="cta__content">
        <h2 class="cta__title">Interesting<br>Collaboration<br>With Us?</h2>
        <p class="cta__text">Help you to reach your business goal</p>
        <a href="#" class="cta__btn">Get Started</a>
      </div>

      <div class="cta__media">
        <div class="cta__img cta__img--a">
          <img src="img/cta-1.png" alt="">
        </div>
        <div class="cta__img cta__img--b">
          <img src="img/cta-2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
