<footer class="footer">
  <div class="footer__bg">
    <div class="container">
      <div class="footer__top">
        <div class="footer__brand-card">
          <img src="img/svg/logo.svg" alt="" class="footer__brand-logo">
          <div class="footer__brand">
            <div class="footer__brand-title">Agency</div>
            <div class="footer__brand-sub">Creative</div>
          </div>
        </div>

        <div class="footer__cols">
          <div class="footer__col">
            <div class="footer__col-title">Terms & policies</div>
            <ul class="footer__list">
              <li><a href="#" class="footer__link">Terms of Service</a></li>
              <li><a href="#" class="footer__link">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="footer__col">
            <div class="footer__col-title">Company</div>
            <ul class="footer__list">
              <li><a href="#home" class="footer__link">Home</a></li>
              <li><a href="#about" class="footer__link">About Us</a></li>
              <li><a href="#contact" class="footer__link">Contact Us</a></li>
            </ul>
          </div>

          <div class="footer__col">
            <div class="footer__col-title">Contact</div>
            <ul class="footer__list">
              <li class="footer__text">(+62) 89391 2392190</li>
              <li class="footer__text">agecnycr@gmail.com</li>
            </ul>
          </div>

          <div class="footer__col">
            <div class="footer__col-title">Location</div>
            <ul class="footer__list">
              <li class="footer__text">PT Osiris Real Estate Internasional</li>
              <li class="footer__text">Jl. KH. Wahid Hasyim Kel No.10D</li>
              <li class="footer__text">Jakarta, Indonesia</li>
              <li class="footer__text">team@OsirisRealEstate.com</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <ul class="footer__social">
          <li><a href="#" class="footer__soc"><img src="img/svg/facebook.svg" alt=""></a></li>
          <li><a href="#" class="footer__soc"><img src="img/svg/instagram.svg" alt=""></a></li>
          <li><a href="#" class="footer__soc"><img src="img/svg/linkedin.svg" alt=""></a></li>
          <li><a href="#" class="footer__soc"><img src="img/svg/mail.svg" alt=""></a></li>
          <li><a href="#" class="footer__soc"><img src="img/svg/twitter.svg" alt=""></a></li>
        </ul>

        <div class="footer__line"></div>
        <div class="footer__copy">Copyright @ 2022 Agency Creative. All Right Reserved</div>
      </div>
    </div>
  </div>
</footer>
