<section class="hero" id="home">
  <div class="container container--hero">
  <h1 class="hero__title">Make your dream<br>business goal come true</h1>
    <p class="hero__text">
      when you need us for improve your business,<br>
      then come with us to help your business have reach it, you just sit and feel that goal
    </p>
    <div class="hero__actions">
      <a href="#projects" class="hero__btn">Start Project</a>
    </div>
    <div class="hero__image">
      <img src="img/hero_img.png" alt="">
    </div>
  </div>
</section>
