<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio__head">
      <div class="portfolio__over">Our Portfolio</div>
      <h2 class="portfolio__title">What do we do</h2>
      <p class="portfolio__desc">all projects that we have already done , proven can help to use more comfortable, then can used by client from our business</p>
    </div>

    <div class="portfolio__slider mySlider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio__card">
            <img src="img/Project_1.png" alt="" class="portfolio__img">
            <span class="portfolio__caption">Design Byte App</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio__card">
            <img src="img/Project_2.png" alt="" class="portfolio__img">
            <span class="portfolio__caption">Cloud App</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio__card">
            <img src="img/Project_3.png" alt="" class="portfolio__img">
            <span class="portfolio__caption">Design Furniture App</span>
          </a>
        </div>
      </div>
    </div>

    <div class="portfolio__cta">
      <a href="#" class="portfolio__btn">See All Portfolio</a>
    </div>
  </div>
</section>
