:root{
  --font-family: 'Quicksand', sans-serif;
  --third-family: 'Quicksand', sans-serif;
}

*,
*::before,
*::after { box-sizing: border-box; }

html, body { height: 100%; }

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  background: #0f0f10;
  color: #e2e2e2;
}

a { color: inherit; text-decoration: none; }
ul { list-style: none; margin: 0; padding: 0; }

.container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.container--hero {
  padding-left: 280px;
  padding-right: 280px;
}

.header { margin-top: 72px; margin-bottom: 68px; }


:root { --hover-opacity: .75; }

a, button {
  transition: opacity .2s ease;
}
a:hover, button:hover {
  opacity: var(--hover-opacity);
}
