$primary-color: #3A86FF;
$primary-hover: darken($primary-color, 10%); // ← заменить на такое
$dark-color: #0f0f10;
$light-color: #ffffff;
$border-color: rgba(255,255,255,.35);

$font-main: 'Quicksand', sans-serif;
$font-size-base: 16px;

$gap-sm: 0.5rem;
$gap-md: 1rem;
$gap-lg: 2rem;

$container-width: 1200px;
$container-padding: 16px;

$header-h: 80px;
